.article {
    width: 60%;
}

.tag-info {
    display: flex;
    margin: 10px auto;
    justify-content: flex-start;
    align-items: center;
}

.article-tags small {
    padding: 0 10px;
}


.article-tags a {
    text-decoration: none;
    color: gray;
}