.article {
    width: 60%;
}

.tag-info {
    display: flex;
    margin: 10px auto;
    justify-content: flex-start;
    align-items: center;
}

.article-tags small {
    padding: 0 10px;
}


.article-tags a {
    text-decoration: none;
    color: gray;
}

@media (max-width: 980px) {
    .article {
        width: 75%;
    }
}
@media (max-width: 780px) {
    .article {
        width: 85%;
    }
}
@media (max-width: 580px) {
    .article {
        width: 90%;
    }
}